</body>
<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Magpie</h5>
        <p class="grey-text text-lighten-4">by Alexander Perkowski</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Check Me Out</h5>
        <ul>
          <div class = 'footer-links'>
          <li><a class="amber-text text-darken-1" href="https://github.com/perkowskialex/"><span><img class = 'footer-images' src="https://i.imgur.com/81P9peo.png"></span>  GitHub</a></li>
          <li><a class="amber-text text-darken-1" href="https://www.linkedin.com/in/alexander-perkowski/"><img class = 'footer-images' src = https://i.imgur.com/dyLARSr.png>  LinkedIn</a></li>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <a class="grey-text text-lighten-4 right" href="#!">© 2019 Alexander Perkowski</a>
    </div>
  </div>
</footer>
</html>