<%- include('../partials/header') %>
<h3 class = 'blue-text text-darken-3'>Edit Expense</h3> <br>

<main class = 'center-form'>
    <form id="new-form" class="new-expense-form" action="/expenses/<%=expense._id%>?_method=PUT" method="POST">
        <div class = 'form-items'>
        <label>Date:
        <input type="date" name="date"></label>
        <br>
        <label>Value:
        <input type="number" name="value"></label>
        <br>
        <label>Location
        <input type="text" name="location"></label>
        <br>

        <label>Category:

        <select class="browser-default" name="category">
            <option value="rent">Rent</option>
            <option value="utilities">Utilities</option>
            <option value="transportation">Transportation</option>
            <option value="groceries">Groceries</option>
            <option value="subscription">Subscription</option>
            <option value="health">Healthcare</option>
            <option value="insurance">Insurance</option>
            <option value="misc">Miscellaneous</option>
        </select></label><br>
        <br>

        <label>Method:

        <select class="browser-default" name="method">
            <option value="cash">Cash</option>
            <option value="credit">Credit</option>
            <option value="debit">Debit</option>
            <option value="electronic">Electronic</option>
            <option value="check">Check</option>
        </select></label>
        <br>

        <label>Description:
        <input type="text" name="description"></label>
        <br>
        <input class="submitter" type="submit" value="Update Expense">
        <br>
    </div>
    </form>
</main>

<%- include('../partials/footer') %>