<%- include('./partials/header') %>

<main>
    <h3>Please Log In to Continue</h3>
    <img class='magpie-image' src="https://i.imgur.com/Je6D7O7.jpg" alt="Indonesian Magpie">
</main>

<%- include('./partials/footer') %>