* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightsalmon;
}

.magpie-image {
  width: 20%;
  height: 20%;
  display: flex;
}

.magpie-logo {
  width: 8%;
  height: 8%;
  display: flex;
}

a {
  color: #00B7FF;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
    