<%- include('../partials/header') %>
<br>
<h3 class = 'blue-text text-darken-3'>Edit Budget</h3>

<main class='center-form'>
        <form id="new-form" class = 'new-expense-form' action="/budgets/<%=budget._id %>?_method=PUT" method="POST">
            <div class='form-items'>
            <label>Budget Name:
            <input type="text" name="budgetName"><br></label>
            <label>Income:
            <input type="number" name="income"><br></label>
            <input class = 'submitter' type="submit" value="Update Budget">
        </div>
        </form>
</main>
<%- include('../partials/footer') %>